.nav-link:hover {
    color: #ffffff !important;
    background-color:#3FB6D5;
}
.input-group {

    display: inline-flex;
}
.hidden{display:none;}
.cont{
    float:right;
}
.btnImage {
    background-color: blue;
    color: #ffffff;
}